target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

client/src/**/resources/images/**/*.png
client/src/**/resources/images/**/*.jpg
client/src/**/resources/images/**/*.jpeg
!client/src/**/resources/images/vehicles/cars/.gitkeep
!client/src/**/resources/images/vehicles/trucks/.gitkeep

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/simulation-config.properties