target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/**/resources/images/**/*.png
src/**/resources/images/**/*.jpg
src/**/resources/images/**/*.jpeg
!src/**/resources/images/vehicles/cars/.gitkeep
!src/**/resources/images/vehicles/trucks/.gitkeep

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr