.iconed-section {
    -fx-padding: 5 0;
    -fx-spacing: 5;
    -fx-background-color: transparent;
}

.labeled-value-row {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.labeled-value-row .row-label {
    -fx-font-size: 13px;
    -fx-text-fill: #666666;
}

.labeled-value-row .row-value {
    -fx-font-weight: 600;
    -fx-font-size: 13px;
    -fx-text-alignment: right;
    -fx-min-width: 50;
}

.labeled-value-row .row-icon {
    -fx-icon-size: 14px;
}

.key-action-pair {
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

.action-description {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
}